---
layout: default
---

<section class='main-content'>

    {% for post in paginator.posts %}
        <article class='module color-3'>
            <header>
                <span class='categories'>{{ post.categories | array_to_sentence_string }}</span>
                
                <h2>
                    <a href='{{ fullUrl }}{{ post.url }}' title='{{ post.title }}'>
                        {{ post.title }}
                    </a>
                </h2>
                
                
            </header>
            
            <p>{{ post.excerpt | strip_html | truncate: 250 }}</p>
                
        </article>
    {% endfor %}

    <div class='module pagination color-3'>
        {% if paginator.previous_page %}
            <a href='{{ site.url }}{{ paginator.previous_page_path }}' class='previous'>Previous</a>
        {% endif %}

        <span class='page_number'>
            &mdash; {{ paginator.page }} of {{ paginator.total_pages }} &mdash;
        </span>

        {% if paginator.next_page %}
            <a href='{{ site.url }}{{ paginator.next_page_path }}' class='next'>Next</a>
        {% endif %}
    </div>

</section>


