@import 'common/reset';
@import 'common/variables';
@import 'common/generic';

@import 'partials/header';
@import 'partials/profile';
@import 'partials/post-entry';
@import 'partials/single';
@import 'partials/pagination';
@import 'partials/table-contents';
@import 'partials/footer';
