.cat-php {
    background-color: #4f5b93;
    color: $white;
}

.cat-wordpress {
    background-color: #0073aa;
    color: $white;
}

.cat-security {
    background-color: $black;
    color: $white;
}

