* {
    &::selection,
    &::-moz-selection {
        background: $yellow;
        color: $black;
    }
}

body {
    color: $black;
    background-color: $page-background;
    font-family: $primary-font;
    font-size: 16px;
}

.wrap {
    margin: 0 auto;
    max-width: 720px;
    padding: 0 10px;
}

.container {
    padding: 10px 0;
}

a {
    color: inherit;
    display: inline-block;
    border: 2px solid transparent;
    text-decoration: underline;
    transition: transform .1s ease-in;

    &:active,
    &:focus {
        border: 2px solid $black-03;
    }

    &:active {
        transform: scale(.95);
    }
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
h5, h6 { font-size: 1rem; }
