* {
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

ul[class],
ol[class] {
    list-style: none;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

a {
    &:not([class]) {
        text-decoration-skip-ink: auto;
    }
}

img {
  display: block;
  max-width: 100%;
}

article {
    & > * + * {
        margin-top: 1em;
    }
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
