$white: #fff;
$black: #222;
$black-07: rgba($black, .7);
$black-03: rgba($black, .3);
$yellow: rgba(#FFFF00, .7);

$nav-max-width: 1024;

$primary-font: 'Open Sans', sans-serif;

$page-background: #f5f5f5;
$primary-background: $white;
$primary-color: $black;

$border-radius: 5px;
$shadow: rgba(149, 157, 165, 0.2) 0px 2px 6px;
$shadow-big:  rgba(149, 157, 165, 0.2) 0px 8px 24px;


$xs: 320px;
$sm: 420px;
$md: 760px;
$lg: 1300px;
