// Basic colors
$white: #fff;
$black: #222;
$black-07: rgba($black, .7);
$black-03: rgba($black, .3);
$yellow: rgba(#FFFF00, .7);

// Fonts
$primary-font: 'Open Sans', sans-serif;
$code-font: 'monospace';

// Colors
$primary-color: $black;
$primary-color-07: rgba($primary-color, .7);
$primary-color-03: rgba($primary-color, .3);

// Backgrounds
$primary-background: $white;
$primary-background-07: rgba($primary-background, .7);
$primary-background-03: rgba($primary-background, .3);

$page-background: #f5f5f5;

// Table
$table-background: $white;
$table-border: #a1a1a1;
$table-odd: $table-background;
$table-even: #f5f5f5;


// Resolutions
$nav-max-width: 1024px;

$xs: 320px;
$sm: 420px;
$md: 760px;
$lg: 1300px;
