$white: #fff;
$black: #222;
$black-07: rgba($black, .7);
$black-03: rgba($black, .3);
$yellow: rgba(#FFFF00, .7);

$nav-max-width: 1024;

$primary-font: 'Open Sans', sans-serif;

$page-background: #f5f5f5;
$primary-background: $white;
$primary-color: $black;
