{{ define "main" }}

<article>
    <header>
        <h2 class="title">{{ .Title }}</h2>

        <aside class="info">
            <span class="read-time">{{ i18n "read_time" .ReadingTime }}</span>

            {{ with .Params.categories }}
                <span class="tag">
                    {{ i18n "category" (len .) }}:

                    {{ range . }}
                        <a class="cat-{{ . | urlize }}" href="{{ "categories" | absURL}}/{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </span>
            {{ end }}
        </aside>
    </header>

    <section class="entry-content post-entry">
            {{ if and (ge (len .TableOfContents) 50) (ne .Site.Params.TableOfContents "false") }}
            <div class="table-contents">
                <span>{{ i18n "toc" }}</span>
                {{ .TableOfContents }}
            </div>
        {{ end }}

        {{ .Content }}
    </section>
</article>


{{ end }}
