{{ define "main" }}

<article class="post-entry full">
    <header>
        <h1 class="title">{{ .Title }}</h1>

        <aside class="info">
            {{ with .Params.categories }}
                <span class="categories">
                    Category:
                    {{ range . }}
                        <a class="cat-{{ . | urlize }}" href="{{ "categories" | absURL}}/{{ . | urlize }}">{{- . -}}</a>
                    {{ end }}
                </span>
            {{ end }}

            <span class="read-time">Reading time: {{ .ReadingTime }} min</span>
        </aside>
    </header>

    <section class="entry-content">
            {{- if and (ge (len .TableOfContents) 50) (ne .Site.Params.TableOfContents "false") -}}
            <div class="table-contents">
                <span>Contents</span>
                {{ .TableOfContents }}
            </div>
        {{- end -}}

        {{ .Content }}
    </section>
</article>


{{ end }}
