<section class="intro">

    <h2 class="title">Hi there 👋</h2>

    <p class="desc">Welcome to this <strong>Lorem ipsum</strong> dolor, sit amet consectetur adipisicing elit. Beatae velit, laborum iure distinctio reprehenderit iste ipsa unde ipsum magni accusamus reiciendis quas.</p>

    <ul>
        <li><a href="#" target="_blank">Twitter</a></li>
        <li><a href="#" target="_blank">LinkedIn</a></li>
        <li><a href="#" target="_blank">Github</a></li>
        <li><a href="#" target="_blank">Dev.to</a></li>
    </ul>

</section>
