/* ------------
    Header
 ------------ */

header.main-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: warp;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 0;
    max-width: $nav-max-width;

    section {
        padding: 10px 0px;

        &.site-title {
            h1,
            h2 {
                color: $primary-color-07;
                display: inline-block;
                font-size: 1.6em;
                font-weight: 700;
                letter-spacing: -1px;

                @media screen and (max-width: $sm) {
                    font-size: 1.4em;
                }

                a {
                    text-decoration: none;
                }
            }

            h1 {
                color: $primary-color;
                font-size: 1.8em;
            }
        }
    }

    nav {
        color: $primary-color-07;
        padding: 5px 0;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;

                a {
                    text-decoration: underline;
                    padding: 2px 4px 2px 0;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
