.pagination {
    padding: 0;

    ul {
        color: $primary-color;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0;

        li {
            width: 100%;

            &.prev-page {
                text-align: left;
            }

            &.current-page {
                text-align: center;
            }

            &.next-page {
                text-align: right;
            }

            a {
                color: $primary-color;
                background-color: $primary-background;
                border-bottom: 2px solid $black-03;
                padding: 5px;
                text-decoration: none;
            }
        }
    }
}
