.post-entry {
    background-color: $primary-background;
    border: 2px solid $primary-color;
    border-bottom-width: 6px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    transition: transform .1s ease-in;

    &.full {
        border-top-width: 6px;
    }

    a {
        &:active { transform: scale(.95); }
    }

    aside {
        color: $primary-color-07;
        font-size: .9rem;
        text-align: left;
        font-weight: 600;

        span:not(:last-child):after {
            content: '·';
            display: inline;
            font-size: 1.5rem;
            margin: 0 3px;
            width: 100%;
            vertical-align: middle;
        }
    }

    &:not(.full) {
        header {
            display: inline-block;
            margin-top: 15px;

            .title {
                &,
                a {
                    color: $primary-color;
                    font-size: 2rem;
                    line-height: 1.2;
                    text-decoration: underline;
                }
            }
        }
    }

    .entry-content {
        color: $primary-color;
        font-size: 1rem;
        line-height: 1.6;

        & > h1,
        & > h2,
        & > h3,
        & > h4,
        & > h5,
        & > h6,
        & > p,
        & > img,
        & > table,
        & > ul,
        & > ol,
        & > blockquote,
        & > code,
        & > pre {
            margin: 1em 0;
        }

        fieldset {
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;

            legend {
                max-width: 100%;
                min-width: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        pre {
            display: block;
            font-family: monospace;
            font-size: .9em;
            padding: .5em;
            white-space: pre-wrap;
        }

        code {
            background-color: $primary-background;
            color: $primary-color;
            display: block;
            font-family: monospace;
            font-size: .9em;
            padding: .5em;
            white-space: pre-wrap;
        }

        blockquote {
            font-style: italic;
            margin: 1.5em;
            padding: .5em;
            quotes: "\201C""\201D""\2018""\2019";

            :before {
                color: $primary-color-03;
                content: open-quote;
                font-size: 3em;
                line-height: .1em;
                margin-right: .25em;
            }

            p { display: inline; }
        }

        table {
            border: 1px solid $table-border;
            border-collapse: collapse;
            font-size: 1em;
            margin: .5em 0;
            width: 100%;

            td, th {
                border: 1px solid $table-border;
                padding: 0.2em;
            }

            tr:nth-child(odd) { background: $table-odd; }
            tr:nth-child(even)  { background: $table-even; }
        }

        hr {
            border-color: $primary-color-03;
        }
    }
}
