.single {
    article {
        margin-top: 15px;
    }

    header {
        width: 100%;

        .title {
            display: block;
            font-size: 1.8em;

            @media screen and (max-width: $lg) {
                font-size: 2em;
            }

            @media screen and (max-width: $sm) {
                font-size: 1.4em;
            }

            a {
                text-decoration: none;
            }
        }
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1em;
        width: 100%;

        span {
            background-color: $primary-background;
            border: 2px solid $primary-color-07;
            border-bottom-width: 6px;
            border-radius: 10px;
            color: $primary-color-07;
            display: block;
            padding: 5px;
            margin-right: 5px;

            &:not(:last-child):after {
                display: none;
            }

            &::after {
                display: inline-block;
                content: " ";
                white-space: pre;
                border: 2px solid transparent;
            }

            a {
                padding: 0;

                &:not(:last-child)::after {
                    content: ',';
                    font-size: 1em;
                    color: inherit;
                }
            }
        }
    }
}
